
style.
    body { font-family: Monaco, Consolas, "Lucida Console", monospace; font-size: 14px; }
    li, h1 { font-size: 14px; }

h1 Moderation

ul
    li: a(href="/moderation-view.html#initial") Moderation system initial
    li: a(href="/moderation-view.html#legal") Moderation system legal

h1 Settings

ul
    li: a(href="/bad-words.html") Bad words
    li: a(href="/banned-users.html") Banned users

h1 Development

ul
    li: a(href="/mock-tweets-system.html") Mock tweet system
    li: a(href="/flood.html") Flood (intergation tests)
    li: a(href="/websocket-monitor.html") Websocket monitor