extends layout

block content

    link(rel='stylesheet', href='/js/libs/bootstrap-tag.css')

    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container
                .span12
                    a.brand Project Victory – Bad Words
                    .pull-right
                        span.connectionStatus
                            .label.label-success.connected.hidden Connected
                            .label.label-warning.disconnected Disconnected
    .container
        .row#bad-words
            .span12
                .span12
                    br/
                    br/
                    br/
                    br/
                    p Insert tags below (using a comma to seperate or press enter to add):
        .row#bad-words
            .span12
                .span12
                    input(type="text", name="tags")#tags.span10
                .span12
                    .btn.btn-primary Save changes
            

    // scripts
    script(src="/js/libs/ICanHaz.min.js")
    script(src="/js/libs/bootstrap-tag.js")
    script(src="/js/socket-connection.js")
    script(src="/js/main-bad-words.js")