extends layout

block content

    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container
                .span12
                    a.brand Project Victory – Moderation View
                    .pull-right
                        span.connectionStatus
                            .label.label-success.connected.hidden Connected
                            .label.label-warning.disconnected Disconnected
                        .btn.clearModerated Clear all moderated
    .container
        br/
        br/
        br/
        .row#incoming-tweets
            

    // templates
    script(id="template-tweet", type="text/html")
        .tweet(data-tweet-id="{{id}}").span12
            .span2
                {{username}}
                br/
                {{time}}
            .span7
                .text.inline {{text}}
            .span2
                .options.inline
                    .btn.btn-danger.btn-small.deny Deny
                    .btn.btn-success.btn-small.approve Approve

    // scripts
    script(src="/js/libs/infinity.js")
    script(src="/js/libs/ICanHaz.min.js")
    script(src="/js/socket-connection.js")
    script(src="/js/main-twitter-moderations.js")